body{
    background-color:brown;

}
#form{
    background-color: white;
    width: 25%;
    margin: 120px auto;
    padding: 50px;
    box-shadow: 10px 10px 5px rgb(82,11, 77);
    border-radius: 6px;
}
#btn{
    color: white;
    background-color: brown;
    padding: 10px;
    font-size: large;
    border-radius: 10px;
}
@media screen and (max-width:700px){
    #form{
        width: 65%;
        padding: 40px;

    }
}